/* MOBILE */
@media screen and (max-width:767px) {

    .drink {
        background-color: transparent;
        color: #d4d519;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 42%;
        left: 100%;
    }

    .text{
        position: absolute;
        color: #d4d519;
        left: 20%;
        top: -20%;
        font-weight: 800;
    }

    .drink:hover {
        color: #f6fa06;
    }
    
    .dayscocktail {
        display: flex;
        justify-content: center;
        margin-bottom: 14vh;
    }
    .fav {
        display: flex;
        justify-content: flex-start;
    }
    
    .drinking {
        position: relative;
    }
    .card {
        height: auto;
    }
    .modalButton{
        display: flex;
        margin: 1vh auto;
    }
}
/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .drink {
        background-color: transparent;
        color: #d4d519;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 42%;
        left: 118%;
    }

    .text{
        position: absolute;
        color: #d4d519;
        left: 20%;
        top: -20%;
        font-weight: 800;
    }

    .drink:hover {
        color: #f6fa06;
    }

    .fav {
        display: flex;
        justify-content: flex-start;
    }
    
    .drinking {
        position: relative;
    }  
    .card {
        height: auto;
    }
    .modalButton{
        display: flex;
        margin: 1vh auto;
    }
    .dayscocktail {
        display: flex;
        justify-content: center;
        margin-bottom: 25vh;
    }
}
/* DESKTOP */
@media screen and (min-width: 1024px) {
    .drink {
        background-color: transparent;
        color: #d4d519;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 42%;
        left: 118%;
    }

    .text{
        position: absolute;
        color: #d4d519;
        left: 20%;
        top: -20%;
        font-weight: 800;
    }

    .drink:hover {
        color: #f6fa06;
    }
    
    .fav {
        display: flex;
        justify-content: flex-start;
    }
    
    .drinking {
        position: relative;
    }
    .dayscocktail {
        display: flex;
        justify-content: center;
        margin-bottom: 22.50vh;
    }
}