@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    color: #333;
}

/* MOBILE */

    @import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

    :root {
      /* Base font size */
      font-size: 10px;   
      
      /* Set neon color */
      --neon-text-color: #b62456;
      --neon-border-color: #1f8187;
    }
    .header h1 {
        display: flex;
        justify-content: center;
        font-size: 3vh;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        padding: 3vh;
        border: 0.4rem solid #fff;
        border-radius: 2rem;
        text-transform: uppercase;
        animation: flicker 4s infinite alternate;
        margin-left: 2vh;
        margin-right: 1vh;
    }
    h1::-moz-selection {
      background-color: var(--neon-border-color);
      color: var(--neon-text-color);
    }
    
    h1::selection {
      background-color: var(--neon-border-color);
      color: var(--neon-text-color);
    }
    
    h1:focus {
      outline: none;
    }
    
    /* Animate neon flicker */
    @keyframes flicker {
        
        0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
          
            text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color),
                0 0 10rem var(--neon-text-color);
            
            box-shadow:
                0 0 .5rem #fff,
                inset 0 0 .5rem #fff,
                0 0 2rem var(--neon-border-color),
                inset 0 0 2rem var(--neon-border-color),
                0 0 4rem var(--neon-border-color),
                inset 0 0 4rem var(--neon-border-color);        
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
            box-shadow: none;
        }    
    }
    .header {
        text-align: center;
        border-bottom: 3px solid #d4d519;
    }
    .gridstyle {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .codeTailsImg {
        margin-top: 3.5vh;
        margin-left: 2vh;
        width: 90px;
        height: 90px;
    }
    .navlist .link {
        display: inline-block;
        color: #FFF;
        border: 2px solid #1f8187;
        border-radius: 10px;
        padding: 1vh;
        width: 15vh;
        box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
    }
    .navlist div {
        display: grid;
        align-self: center;
        justify-content: center;
        height: 3vh;
        font-size: 1.5vh;
    } 

    .navlist {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 180px 180px;
        grid-template-rows: 50px 50px;
        margin-bottom: 2vh;
    }
/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    @import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

    :root {
        /* Base font size */
        font-size: 10px;   
        
        /* Set neon color */
        --neon-text-color: #b62456;
        --neon-border-color: #1f8187;
      }
      .codeTailsImg {
          margin: 2vh 0vh 0vh 15vh;
          width: 135px;
          height: 135px;
      }
      .header h1 {
          display: flex;
          justify-content: center;
          font-size: 3vh;
          font-weight: 200;
          font-style: italic;
          color: #fff;
          padding: 3vh;
          border: 0.4rem solid #fff;
          border-radius: 2rem;
          text-transform: uppercase;
          animation: flicker 4s infinite alternate;
  
      }
      h1::-moz-selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
      }
      
      h1::selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
      }
      
      h1:focus {
        outline: none;
      }
      
      /* Animate neon flicker */
      @keyframes flicker {
          
          0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
            
              text-shadow:
                  -0.2rem -0.2rem 1rem #fff,
                  0.2rem 0.2rem 1rem #fff,
                  0 0 2rem var(--neon-text-color),
                  0 0 4rem var(--neon-text-color),
                  0 0 6rem var(--neon-text-color),
                  0 0 8rem var(--neon-text-color),
                  0 0 10rem var(--neon-text-color);
              
              box-shadow:
                  0 0 .5rem #fff,
                  inset 0 0 .5rem #fff,
                  0 0 2rem var(--neon-border-color),
                  inset 0 0 2rem var(--neon-border-color),
                  0 0 4rem var(--neon-border-color),
                  inset 0 0 4rem var(--neon-border-color);        
          }
          
          20%, 24%, 55% {        
              text-shadow: none;
              box-shadow: none;
          }    
      }
      .header {
          text-align: center;
          border-bottom: 3px solid #d4d519;
      }
      .gridstyle {
          display: grid;
          grid-template-columns: 30% 70%;
      }
      .gridstyle .codeTailsImg {
          margin-left: 4vh;
          margin-top: 3vh;
      }
      .gridstyle h1 {
          margin-right: 4vh;
      }
      .navlist {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          margin-bottom: 2vh;
          
      }
}
/* DESKTOP */
@media screen and (min-width: 1024px) {
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
  --neon-text-color: #b62456;
  --neon-border-color: #1f8187;
}
.codeTailsImg {
    width: 130px;
    height: 130px;
    margin-left: 4vh;
    margin-top: 2vh;
}
.header h1 {
    font-size: 4rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 4s infinite alternate;
    padding: 3vh 6vh;
    margin: auto;
}
.gridstyle {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-right: 29vh;
}
h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
.thefourth {
    margin-top: 2vh;
}
.header {
    border-bottom: 3px solid #d4d519;
}

.navlist div {
    background-color: #101728;
    font-size: 2vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #1f8187;
    padding: 0.7vh;
  
.navlist .link:hover {
    color: #b62456;
}
}


.navlist .link{
    color: #FFF;
    font-size: 2vh;
    border-radius: 10px;
    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    padding: 1vh;
    margin: auto;
}
.navlist {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.navlist .link.active {
    color: #b62456;
    box-shadow:
    0 0 .9rem #b62456,
    inset 0 0 .9rem #b62456,
    0 0 2rem var(--neon-border-color),
    inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color),
    inset 0 0 4rem var(--neon-border-color);       
}
