@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.footer {
    padding: 80px 60px;
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.column h1 {
    display: inline;
    color: #f1356d;
    font-size: 100px;
    font-style: italic;
}

.column h4 {
    text-decoration: none;
}

.column {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    padding-bottom: 25px;
    border-color: grey;
}

.footer h1:hover {
    color: #f1356d;
}