
  .cards {
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    display:inline-flex;
    justify-content: center; 
  }
  
  .card {
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    filter: drop-shadow(0 0 2rem #1f8187);
    background-color: whitesmoke;
    border: 3px solid #FFF;
  }

  .card-img {
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
  }

  .card-body {
    padding: 10px 20px; 
  }
  
  .card-body h2 {
    margin-bottom: 15px;
    font-size: 17px;;
  }
  .card-button {
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #19202a;
    width: 100%;
    font-weight: bold;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
  }
  .contenu
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .modalButton {
    display: flex;
    margin: auto;
    padding: 0.3vh 5vh;
    background-color: #101728;
    border: 2px solid #1f8187;
    color: white;
    font-size: 2vh;
    border-radius: 10px;
  }
  .modalButton:hover
  {
    color: #b62456;
  }